* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
}

body {
  color: rgb(var(--foreground-rgb));
}

pre {
  background: #111;
  margin: 16px 0;
  font-size: 12px;
}

a {
  color: #fff;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}

ol,
ul {
  margin: 16px 16px -8px 16px;
}

li {
  margin: 2px 0;
}

p {
  margin-top: 8px;
}

code {
  padding: 4px;
  background: #212121;
  border: 1px solid #444;
  margin: 0 4px;
  font-size: 10px;
  &:only-child {
    margin: 0;
  }
}

pre code {
  display: block;
}

.MuiFormHelperText-root {
  margin-left: 0;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 0px;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
