
pre {
  margin: 0 0 16px;
}

a {
  color: #fff;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}

ol,
ul {
  margin: 16px 16px 0 16px;
}

p {
  margin-top: 8px;
}

code {
  background: #212121;
  &:only-child {
    margin: 0;
  }
}

.MuiFormHelperText-root {
  margin-left: 0;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 0px;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
